# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ympäristömuuttujat
.env
.env.local
.env.*.local

# IDE-kansiot
.idea/
.vscode/

# Build-kansiot
dist/
build/
coverage/

# Muut
.DS_Store
*.log